# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django files
*.sqlite3
*.log
/staticfiles/
media/

# Editor/IDE files
.vscode/
.idea/
*.swp
.DS_Store

# Environment variables
.env
