{% extends 'users/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'users/styles.css' %}">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Login form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <img class="profile-img" src="{% static 'users/userpic.png' %}" alt="..." />
                            <h1 class="fw-bolder">Login</h1>
                            <p class="lead fw-normal text-muted mb-0">Login to continue translating!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
              <form action="" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          {{ form|crispy }}
           <div class="col-auto"><div class="small m-0">Forgot your password? <a href="{% url 'site:password_reset' %}">Reset it here</a></div></div>
      </fieldset>
        <div class="d-grid"> <button class="btn btn-primary" id="submitButton" style="margin:20px;" type="submit">Submit</button></div>
          <div class="col-auto"><div class="small m-0">Don't have an account? <a href="{% url 'site:register' %}">Register here</a></div></div>
    </form>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}


