{% extends 'users/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'users/styles.css' %}">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Change password form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Change password</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
              <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
                  <fieldset class="form-group">
          {{ form|crispy }}
      </fieldset>
        <div class="d-grid">
            <a class="btn px-5 py-3 me-sm-3 fs-6 fw-bolder"> <button class="btn btn-primary"  style="margin:20px; width: 100%" id="submitButton" type="submit">Submit</button></a>
        </div>
    </form>
                       <div class="d-grid">
                                <div class="col-lg-8">Go back to your profile:</div>
                                <a class="btn px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/profile"><button class="btn btn-primary" style="margin:20px; width: 100%">Go back</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}


