{% extends 'users/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/styles.css' %}">
<!-- Page Content-->
            <div class="container px-5 my-5">
                <!-- Profile Section-->
                <section>
                    <!-- Profile Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="profile-container">
                                           <center><img src="{{ user.profile.image.url }}" alt="{{ user.profile }}'s picture" style="width:20%"></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-5">
                                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{user.username}}</span></h1>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Your username: {{user.username}}</div>
                            <div class="col-lg-8" style="margin-bottom: 10px;"><div>Your email: {{user.email}}</div></div>
                            </div>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <fieldset class="form-group">
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
        <div class="d-grid">
            <a class="btn px-5 py-3 me-sm-3 fs-6 fw-bolder"> <button class="btn btn-primary"  style="margin:20px; width: 100%" id="submitButton" type="submit">Update profile</button></a>
        </div>
    </form>
                            <div class="d-grid">
                                <div class="col-lg-8">You can change your password by clicking below:</div>
                                <a class="btn px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/password"><button class="btn btn-primary" style="margin:20px; width: 100%">Change password</button></a>
                            </div>


                        </div>
                    </div>
                </section>
                    </div>

                    {% endblock %}